<div class="lsplit"></div>
<div class="rsplit"></div>
<div id="template_search">
 <div class="key">
 <h3>Welcome to <strong>GPerf</strong> - A Global Performance Measurement Network!</h3>
 <p>We have 65 probes and 78 task running.</p>
</div>
<form action="{:U('Index/search')}" method="post">
    <div class="search"><div class="i"><input type="text" name="search_args" class="searchtxt" placeholder="Enter an IP address/prefix，ASN，country code or hostname" /><input type="submit" class="searchbtn" value=""/></div></div>
 </form>
 <div class="split"></div>
 </div>
